# Database
# config/database.php (Removed from ignore to allow Railway deployment)

# Uploads
uploads/*
!uploads/.gitkeep

# OS files
.DS_Store
Thumbs.db

# PHP temporary
*.log
vendor/

# Secrets
config/service-account.json
rekapit-*.json
.env

# Temp/Cache
*_token.json
composer.phar
database/rekapit_cache.sqlite
database/rekapit_cache.sqlite.json
